html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.logo {
  width: 150px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  background-image: linear-gradient(135deg, rgb(68, 202, 201) 0%,rgb(252, 255, 114) 100%);
}

iframe {
  border: 0;
  padding: 0 10px;
  width: 100%;
  height: 500px;
}